/* OBS! MANGLER AT OMSKRIVE NOGLE PX OM TIL % */










*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: #DDBEA1;
}


/* HELE SEKTIONEN */
#loadingPage{
    /* SÅ DE 2 DIVER ER VED SIDEN AF HINANDEN */
    display: flex;
}



/* "VENSTRE" & "HØJRE" DIV */

    #left{
        width: 960px;
        height:945px;
        background-color:#DDBEA1;
        border:2px black solid;
        /* z-index: 1; */

    }

    #right{
        width: 960px;
        height:945px;
        background-color:#DDBEA1;
        border:2px black solid;
        /* z-index: 1; */

    }


    #nilen{
        display: none;
        align-items: center;
        justify-content: center;
      
    }

    #nilen img{
        width: 1120px;
        height: 956px;

    }



/* TRYK HER KNAPPEN */
    #trykHer{
        text-align: center;
        position: relative;
        z-index: 2;
    }



/* HVOR LANGT DIV'ERNE SPLITTER SIG FRA HINANDEN - HJÆLP FRA CHAT GPT */
    @keyframes slideIn {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-550px); 
        }
    }

    @keyframes slideOut {
        from {
            transform: translateX(0);
        }
        to {
        
            transform: translateX(550px);
            width: 390px;
        }
    }











