/****************** Gravkammeret ******************/

#gravTEXT {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    text-align: center;
}


/* HELE TEKST-SLIDE GRAVKAMMERET */
#gravSlideshow {
    height: 17vh;
}

/* Slides */
#Slide1grav,
#Slide2grav,
#Slide3grav,
#Slide4grav,
#Slide5grav {
    text-align: center;
}

/* PRIKKERNE */
#prik-INDHOLDgrav {
    display: flex;
}

/* STYLING AF SELVE PRIKKERNE */
#prik1grav,
#prik2grav,
#prik3grav,
#prik4grav,
#prik5grav {
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 20px 2px;
    background-color: #aa865d;
    border-radius: 50%;
    transition: 0.9s ease;
    border: black 1px solid;
}

#active,
#prik1grav:hover,
#prik2grav:hover,
#prik3grav:hover,
#prik4grav:hover,
#prik5grav:hover {
    background-color: white;
}

#gravkammeret {
    display: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.gravstoerelse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 35%;

    overflow: visible;
}

.gravstoerelse img {
    position: relative;
    width: 100%;
    z-index: 2;
}

.graviestoerelse:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.grav_cirkel {
    display: flex;
    align-self: end;
    position: absolute;
    z-index: -1;

    bottom: 55%;

    height: 15vw;
    width: 15vw;

    border-radius: 1000px;

    background: rgb(88, 64, 42);
    background: linear-gradient(35deg, rgba(88, 64, 42, 1) 0%, rgba(125, 78, 30, 1) 29%, rgba(211, 153, 84, 0.39959733893557425) 100%);
    /* Den er drejet 35deg til at starte med */
    transform: rotate(180deg);
    /*Den er nu blevet roteret med 180deg*/

    animation: rotateOnLoad 6s;
}

/******************************************************/
/****************** EFTERLIVET ******************/

/* HELE TEKST-SLIDE EFTERLIV */
#efterlivet {
    display: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;

    overflow: visible;
}

/* Section left */
.efterlivet_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    height: 100%;
    width: 35%;
    position: relative;
}

#EfterlivSlideshow {
    height: 10vh;
}

/* Slides Efterlivet */
#Slide1Efterliv,
#Slide2Efterliv,
#Slide3Efterliv,
#Slide4Efterliv {
    display: none;
    text-align: center;
}

/* STYLING AF SELVE PRIKKERNE - Efterlivet */
#prik1Efterliv,
#prik2Efterliv,
#prik3Efterliv,
#prik4Efterliv {
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 20px 2px;
    background-color: #aa865d;
    border-radius: 50%;
    transition: 0.9s ease;
    border: black 1px solid;
}

/* PRIKKERNE Efterlivet */
#prikEfterliv {
    display: flex;
    justify-content: center;
}

#prik1Efterliv:hover,
#prik2Efterliv:hover,
#prik3Efterliv:hover,
#prik4Efterliv:hover {
    background-color: white;
}